//CORES

$lightblue: #2ba7e7;
$blue: #266ab8;
$deepblue: #1c4d83;
$lightorange: #f1a581;
$orange: #e07b4d;
$deeporange: #c05527;
$lightgray: #c0c0c0;
$gray: #727272;
$deepgray: #434343;
$white: #FFF;
$black: #000;

// RESPONSIVIDADE (Bootstrap)

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: 480px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;