/* FONTS */
h1, h2, h3, label, h4 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  font-weight: bold; }

@media only screen and (max-width: 992px) {
  h2, h3, label, h4, p, input, textarea, button {
    font-size: 1.5em; } }
@media screen and (max-width: 768px) {
  h2, h3, label, h4, p, input, textarea, button {
    font-size: 1.5em; } }

h1 {
  font-size: 2.6em;
  color: #266ab8; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 2.2em; } }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.2em; } }

h2 {
  font-size: 1.8em;
  color: #e07b4d; }

h3, label {
  font-size: 1.8em;
  color: #2ba7e7; }

h4 {
  font-size: 1.8em;
  color: #FFF; }

p, input, textarea, button {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #727272; }

footer p {
  font-size: 1.2em;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    footer p {
      font-size: 1.2em; } }
  @media screen and (max-width: 768px) {
    footer p {
      font-size: 1.5em; } }

#buttons h2 {
  font-size: 1.5em;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    #buttons h2 {
      font-size: 1.3em; } }
  @media screen and (max-width: 768px) {
    #buttons h2 {
      font-size: 1.2em; } }

#cta-index h1 {
  font-size: 2em;
  color: #266ab8; }

.banner h1 {
  font-size: 3rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .banner h1 {
      font-size: 2.4rem; } }
  @media screen and (max-width: 768px) {
    .banner h1 {
      font-size: 2rem; } }

.minor-text {
  font-size: 1.2rem;
  color: #FFF; }
  @media only screen and (max-width: 992px) {
    .minor-text {
      font-size: 1rem; } }
  @media screen and (max-width: 768px) {
    .minor-text {
      font-size: 1rem; } }

.major-text {
  font-size: 2.4rem;
  color: #727272; }
  @media only screen and (max-width: 992px) {
    .major-text {
      font-size: 2rem; } }
  @media screen and (max-width: 768px) {
    .major-text {
      font-size: 2rem; } }

body button, #buttons-block #jogar-online button {
  font-weight: normal;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px; }

body button:active, #buttons-block #jogar-online button:active {
  margin-top: 3px;
  padding-bottom: 19px;
  border: none; }

body button:focus, #buttons-block #jogar-online button:focus {
  outline: none; }

.wave-blue-top, .wave-orange-top, .wave-blue-bottom, .wave-orange-bottom {
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 85px; }
  @media only screen and (max-width: 1900px) {
    .wave-blue-top, .wave-orange-top, .wave-blue-bottom, .wave-orange-bottom {
      height: 40px; } }
  @media only screen and (max-width: 1000px) {
    .wave-blue-top, .wave-orange-top, .wave-blue-bottom, .wave-orange-bottom {
      height: 30px; } }
  @media only screen and (max-width: 480px) {
    .wave-blue-top, .wave-orange-top, .wave-blue-bottom, .wave-orange-bottom {
      height: 10px; } }

/* CONTENT */
.wave-blue-top {
  background-image: url("http://dedig.com.br/wp-content/themes/dedig/img/onda-azul-top.svg"); }

.wave-orange-top {
  background-image: url("http://dedig.com.br/wp-content/themes/dedig/img/onda-laranja-top.svg"); }

.wave-blue-bottom {
  background-image: url("http://dedig.com.br/wp-content/themes/dedig/img/onda-azul-bottom.svg"); }

.wave-orange-bottom {
  background-image: url("http://dedig.com.br/wp-content/themes/dedig/img/onda-laranja-bottom.svg"); }

.orange-block {
  background-color: #e07b4d;
  width: 100%; }
  .orange-block h1, .orange-block h2, .orange-block h3, .orange-block label, .orange-block h4, .orange-block h4 a, .orange-block p {
    color: #FFF; }

.blue-block {
  background-color: #266ab8;
  width: 100%; }
  .blue-block h1, .blue-block h2, .blue-block h3, .blue-block label, .blue-block h4, .blue-block h4 a, .blue-block p {
    color: #FFF; }

/* FOOTER */
#footer-menu p, #footer-menu a {
  color: #FFF; }
#footer-menu ul {
  padding-left: 0;
  list-style: none; }
#footer-menu a p:hover, #footer-menu a:hover {
  color: #2ba7e7; }

.footer-item {
  text-align: left; }
  @media only screen and (max-width: 767px) {
    .footer-item {
      text-align: center; } }

#logo-footer {
  width: auto;
  height: 120px; }
  @media only screen and (max-width: 767px) {
    #logo-footer {
      width: auto; } }
  @media only screen and (max-width: 480px) {
    #logo-footer {
      width: 100%; } }

#copyright {
  background-color: #1c4d83;
  width: 100%; }

#buttons-block #mockup {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

img {
  width: 100%;
  height: auto; }

*:focus {
  outline: none; }

body button {
  color: #fff;
  background-color: #266ab8;
  border-color: #1c4d83;
  padding: 20px; }
body button:hover {
  background-color: #2ba7e7;
  border-color: #266ab8; }
body button:active {
  background-color: #266ab8;
  padding: 20px 20px 19px !important; }

button {
  width: 100%;
  border: none; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

.row {
  margin: 30px auto; }

.col-md-12, .col-md-6, .col-md-4, .col-md-3 {
  margin-bottom: 15px; }

.no-padding {
  padding: 0; }

#manual {
  width: 100%;
  background-color: #2ba7e7;
  padding: 5px 5px 6px;
  text-align: center; }
  #manual p {
    color: #FFF;
    font-size: 1.2em;
    margin: 0; }

#logo-colecao-dedig {
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 20%;
  width: 60%; }

#buttons-block h2 {
  margin: 0; }
#buttons-block #jogar-online button {
  color: #fff;
  background-color: #e07b4d;
  border-color: #c05527;
  padding: 20px; }
#buttons-block #jogar-online button:hover {
  background-color: #f1a581;
  border-color: #e07b4d; }
#buttons-block #jogar-online button:active {
  background-color: #e07b4d;
  padding: 20px 20px 19px !important; }
#buttons-block .badge-img {
  margin: 4% auto; }
#buttons-block #mockup img {
  height: 250px;
  width: auto; }

/*# sourceMappingURL=style.css.map */
