//CORES

$lightblue: #2ba7e7;
$blue: #266ab8;
$deepblue: #1c4d83;
$lightorange: #f1a581;
$orange: #e07b4d;
$deeporange: #c05527;
$lightgray: #c0c0c0;
$gray: #727272;
$deepgray: #434343;
$white: #FFF;
$black: #000;